apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../../base/resources/gateway

patches:
  # Patch Gateway listener hostnames for etcd.me domain
  - target:
      kind: Gateway
      name: main-gateway
    patch: |
      - op: replace
        path: /spec/listeners/0/hostname
        value: "*.etcd.me"
      - op: replace
        path: /spec/listeners/1/hostname
        value: "*.etcd.me"
      - op: replace
        path: /spec/listeners/2/hostname
        value: argo.etcd.me
