# Template: Allow Cilium Gateway Ingress
# Copy this file and replace NAMESPACE_NAME with your namespace
# Add the ports your application uses
#
# CiliumNetworkPolicy is used because Cilium Gateway API uses the
# reserved:ingress identity for traffic routing.
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: allow-gateway-ingress
  namespace: NAMESPACE_NAME
spec:
  endpointSelector: {}
  ingress:
    # Allow Cilium Gateway API traffic (uses reserved:ingress identity)
    - fromEntities:
        - ingress
      toPorts:
        - ports:
            - port: "8080"
              protocol: TCP
