# CiliumNetworkPolicy to allow traffic from Cilium Gateway API
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: allow-gateway-ingress
  namespace: n8n
spec:
  endpointSelector: {}
  ingress:
    # Allow Cilium Gateway API traffic (uses reserved:ingress identity)
    - fromEntities:
        - ingress
      toPorts:
        - ports:
            - port: "5678"
              protocol: TCP
            - port: "4180"
              protocol: TCP
